:root{
  --title_font_size : 2.2rem;
  --title_font_weight : 700;
  --desc_font_size : 1.4rem;
  --desc_font_weight : 400;
  --body_font_size : 1.5rem;
  --body_font_weight : 400;
  --bg-1 : rgb(255 172 126);
  --bg-header : #f9f7ff
  
}
.height-10vh{
  height: 10vh;
}
.height-15vh{
  height: 15vh;
}
.h100{
  min-height: 100vh;
}
.h80{
  min-height: 80vh;
}
.w50{
  width: 50%;
}
.w100{
  width: 100%;
}
.w70{
  width: 70%;
}
.w80{
  width: 80%;
}
.w30{
  width: 30%;
}
.w20{
  width: 20%;
}
.w10{
  width: 10%;
}
.w50{
  width: 50%;
}
.w40{
  width: 40%;
}
.h200{
  height: 200vh;
}
.height-20vh{
  height: 20vh;
  
}
.height-30vh{
  height: 30vh;
}
.height-40vh{
  height: 40vh;
}
.height-50vh{
  height: 50vh;
}
.height-60vh{
  height: 60vh;
}
.height-70vh{
  height: 70vh;
}
.height-80vh{
  height: 80vh;
}
.height-85vh{
  height: 85vh;
  /* background-color: rgb(0, 102, 71); */
}
.height-90vh{
  height: 90vh;
}
.height-100vh{
  height: 100vh;
}
.h10{
  min-height:10vh ;
}
body{
  font-size: 16px;
  background-color:#fefff3 ;
}
body.no-scroll{
  overflow: hidden;
}
.container{
  max-width: 1550px;
  margin-inline: auto;
  padding-inline: 20px;;
}
.mt10{
  margin-top: 10%;
}
.layout-td .layout_title{
  font-size: var(--title_font_size);
  font-weight: var(--title_font_weight);
}
.layout-td .layout_desc{
  font-size: var(--desc_font_size);
  font-weight: var(--desc_font_weight);
}
.menubar{
  background-color: #f85606;
  padding: 0 7em;
}
.color-white{
  color: #ffffff;
}
.menubar .left{
  width: 20%;
  height: 100%;
}
.menubar .center{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.menubar .right{
  width: 30%;
  height: 100%;


}
.menubar input:focus{
  outline: none;
}
.menubar input{
  width: 90%;
  height: 6vh;
  border-radius: 10px;
  padding: 0 1em;
}
.menubar button{
  
  background-color: rgba(255, 167, 96, 0.555);
  position: absolute;
  color: #ffae00;
  bottom: 30;
  right: 12%;

}

.logo{
  font-size: 2.3em;
  font-weight: 700;
}


/* signup form  
 */
 
 .signupform{
   background-color:#ffffff ;
   text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0px 20px 1px #e2e2e2;
  border-radius: 15px;
  padding-block: 15px;
  padding-inline: 10px;
  width: 100%;
  max-width: 650px;
  row-gap: 10px;
  transition: background-color 0.15s linear;
}

.signupform .email_wrap{
  width: 100%;
}
.input_field{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.signupform input:focus{
  outline: none;
  border: 1px solid #000;
  
}
.signupform input{
  border: 1px solid #c0c0c0;
  width: 100%;
  border-radius: 8px;
  padding-block: 10px;
  padding-inline: 10px;

}
.signupform .button{
  display: flex;
  justify-content: center;
}
.signuppass button.inline_btn{
  position: absolute;
  bottom: 0;
  right: 0;
}
.signupform p {
  font-size: var(--body_font_size);
  font-weight: var(--body_font_weight);
}



/* home
 */
 .home-main{
  padding: .5rem;
  display: flex;
  justify-content: space-between;
 }
 .left-home{
  width: 25%;
  background-color:transparent;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem 1rem 0;
 }
 .right-home{
  width: 75%;
  padding: 1rem 2rem 1rem 1rem;
  /* background-color: rgb(12, 145, 12); */
  display: flex;
  justify-content: center;
 }
 .right-home img{
  width: 100%;
  height: 70%;
  /* padding: ; */
  border-radius: 20px;
 }

 .category-card{
  width: 80%;
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  max-height: 60vh;
  overflow: scroll;
  padding: .5rem;
 }
 .category-card::-webkit-scrollbar {
  display: none;
}
.pad-5{padding: 5px;
}

.btn-parent button{
  background-color: #f85606;
  padding: 20px;
}
.btn-parent{
  width: 100%;
  background-color: #ffae00;
  display: flex;
  justify-content: center;
}
.signin_form, .signupformparent{
  padding-block: 50px;
}
.layout-td{
  width: 100%;
  background-color: var(--bg-1);
  padding: 2rem;
  box-shadow: 0px 10px 10px 1px rgb(220 220 220);
}
.layout-td h1{
  margin-bottom: .7rem;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #3498db; /* blue spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 50px auto; /* center on screen */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.signuppass p{
  display: block;
  width: 100%;
}
.signuppass{
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-width: 60%;
}
.custom_btn{
  position: relative;
  background-color: #000000;
  width: 100px;
  color: #ffffff;
  padding: 10px 0;
  min-width: 60px;
  width: 100%;
  max-width: 80px;
  max-width: unset;
  width: auto;
  padding-inline: 10px;
  border: 1px solid #000000;
  overflow: hidden;
}
.custom_btn span{
  color: inherit;
  position: relative;
  z-index: 2;
}
.custom_btn::after{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: left 0.15s linear;
}
.signupform .button button{
  margin-top: 10px;
}
.custom_btn:hover span{
  color: #000000;
}
.custom_btn:hover::after{
  left: 0%;
}
.border-red{
  border-color: #ff0000;
}
.border-black{
  border-color: #000000;
}
.red-bg{
  background-color: red;
}
.cool-bg{
  background-color: rgb(223, 0, 122);
}
.product-img img{
  width: 100%;
  max-width: 95%;
  height: 100%;
  max-height: 480px;
  object-fit: contain;
  
}
.historyImage img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 30px;
}

.textbreak{
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}
.breaktext{
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: center;

}
.safe{
  color: #00f200;
}
.warning{
  color: rgb(255, 255, 0);
}
.warning-bg{
  background-color: rgb(209, 209, 0);
}
.danger{
  color: #c31818;
}
.danger-bg{
  background-color: #c31818;

}
.bg-bg1{
  background-color: var(--bg-1);
}
/* cart styles 
 */
 .cart-container {
  position: relative;
  display: inline-block;
}

.cart-text {
  position: relative;
}

.cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: var(--bg-1);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(50%, -20%);
    font-size: 0.8rem;
}
.showMobile{
  display: none;
}
.menu-icon{
  display: none;
}
.box_style{
  border-radius: 10px;
  box-shadow: 0px 4px 20px 1px #00000045;
}
.search_form{
  background-color: #ffffff;
  margin-top: 2rem;
}
.product_sort_type{
  background-color: var(--bg-1);
  padding-block: 20px;
  color: #000000;
  font-size: var(--body_font_size);
  font-weight: var(--body_font_weight);
  border-radius: 10px;
}
.home_main{
  padding-block: 35px;
}
.search_dets_wrap{
  width: 100%;
  max-width: 85%;
  margin-inline: auto;
  column-gap: 0.5rem;
}
.search_title h2{
  line-height: 100%;
}
.custom_border{
  border: 1px solid #dedede;
}
.default_card_width{
  width: 100%;
  max-width: calc(33.33% - 0.67rem); 
  background-color: transparent;
  padding: 0;
}
.products-wrap{
  row-gap: 1rem;
  column-gap: 1rem;
}
.search_main .results_dets {
  width: 100%;
  display: flex;
  flex-direction: column;
}









.custom_loading .loading_title{
  background-color: #f7f7f7;
  color: #292929;
  text-align: center;
}
.custom_loading{
  position: fixed;
  height: 100dvh;
  left: 0;
  top: 0;
  background-color: #0000008f;
  color: #ffffff;
  z-index: 1;
}
.nav-links .hover_links::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #000000;
  width: 0%;
  transition: width 0.3s linear;
}
.nav-links .hover_links.active-link::after{
  width: 100%;
}
.menu-header {
  background-color: var(--bg-header);
  z-index: 999;
}
.menu-header .navs_desktop li{
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.menu-header .navs_desktop li:hover a::after{
  width: 100%;
}
.menu-header  .search_dropdown{
  position: absolute;
  background-color: var(--bg-header);
  display: flex;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: min-height 0.3s ease-in-out;
  max-height: 0px;
  min-height: 0px;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 4rem;
  column-gap: 1rem;
}
.navs_desktop li.SearchIcon:hover .search_dropdown{
  min-height: 100px;
}
.mobile_sidebar  .search_dropdown{
  padding-inline: 10px;
  flex-wrap: wrap;
}
.mobile_sidebar  .search_dropdown .categories{
  width: 70%;
}
.mobile_sidebar  .search_dropdown .search_input{
  width: 40%;
}
.mobile_sidebar  .search_dropdown .search_btn{
  margin-inline: auto;
}
.mobile_sidebar .SearchIcon:hover .search_dropdown{
  min-height: 150px;
  justify-content: center;
  box-shadow: 0px 10px 20px 1px #00000038;
}
.search_dropdown .search_input{
  border: 1px solid #cacaca;
  min-width: 300px;
  border-radius: 40px;
  padding-block: 0.3rem;
  padding-inline: 0.7rem;
  font-size: 1.15rem;
}
.search_dropdown .search_btn{
  border: 1px solid #cacaca;
  min-width: 50px;
  border-radius: 40px;
  padding-block: 0.3rem;
  padding-inline: 0.7rem;
  background-color: var(--bg-1);
}
.search_dropdown .categories{
  border: 1px solid #cacaca;
  max-width: 200px;
  border-radius: 40px;
  padding-block: 0.3rem;
  padding-inline: 0.7rem;
  background-color: #f0f0f0;
}
.menu-header.sticky_header{
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0px 0.5px 20px 0px #00000054;
}
.mobile-links {
  position: fixed;
  top: 0;
  height: 100dvh;
  left: -100%;
  overflow-y: scroll;
  background-color: #ffffff;
  transition: left 0.2s ease-in-out;
}
.mobile-links.show {
  left: 0%;
}
.close_icon{
  padding: 10px 10px 0 0;
}
.navs_mobile{
  padding-block: 10px;
}
.navs_mobile .nav-links{
  padding-bottom: 10px;
}
.product-card .product-img  img{
  border-radius: 10px;
}
.product-card{
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #dadada;
  border-radius: 10px;
  padding-block: 0.7rem;
}
.product-card .product_card_btn{
  background-color: var(--bg-1);
  border: 1px solid #d0d0d0;
  border-radius: unset;
  padding-block: 0.5rem;
  padding-inline: 0.8rem;
  position: relative;
  overflow: hidden;
}
.product-card .product_card_btn::after{
  position: absolute;
  content: '';
  top: 0%;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: left 0.15s linear;
}
.product-card .product_card_btn span{
  position: relative;
  z-index: 1;
}
.product-card .product_card_btn:hover::after{
  left: 0%;
}
.product-card .product_details{
  width: 100%;
  max-width: 95%;
  text-align: left;
  background-color: #e6e6e6;
} 
.product-card .product_more_dets p{
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.2rem;
}
.product-card .product_more_dets{
  background-color: #000000;
  padding: 0.5rem;
  column-gap: 0.7rem;
  margin-bottom: 0.7rem;
}

@media (width <= 600px){
  .product-card{
    max-width: calc(50% - 0.5rem);
  
  }
  .container {
    padding-inline: 10px;
}
  /* menu header */
  /* .mobile-links{
    
  } */
  /* .products-wrap{
    flex-direction: column;
    
  } */
  .hideOnMobile{
    display: none;
  }
  .showMobile{
    display: flex;
  }
  .menu-icon{
    /* display: inline-block; */
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    flex-direction: row-reverse;
  }
  /* cart */
  .cart-product{
    width: 100%;
  }
  .mobile-product-card{
    width: 100%;
  }
  .mobile-width-parent{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mobile-width-full{
    width: 80%;
    margin-bottom: 1rem;
  }
  .breaktextmobile{
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: center;
  
  }
  .header_inner .logo_wrap{
    width: auto;
  }
  .header_inner{
    justify-content: space-between;
  }
  .nav-links.active-link::after {
    width: 100%;
    bottom: 20%;
  } 
  .signupform input {
    padding-block: 5px;
}
  .custom_btn {
    padding-block: 5px;
}
.search_dets_wrap {
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  row-gap: 15px;;
}
.search_dets_wrap select {
  width: 75%;
}
.search_dets_wrap input {
  width: 75%;
}
.search_dets_wrap button {
  width: 30%;
}



}

@media (max-width: 426px){
:root {
  --title_font_size: 1.7rem;
  --title_font_weight: 700;
  --desc_font_size: 1.2rem;
  --desc_font_weight: 400;
  --body_font_size: 1.2rem;
}
.layout-td .layout_title {
  margin-bottom: 0;
}
.layout-td {
  padding: 1.3rem;
}


}